<h1>Solicitações de cancelamento</h1>

  <section>

      <table class="col">
        <thead>
          <tr>
            <th><%= t('activerecord.attributes.order_cancellation_request.id') %></th>
            <th><%= t('activerecord.models.company.one') %></th>
            <th><%= t('activerecord.attributes.company.token') %></th>
            <th><%= t('activerecord.models.plan.one') %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @cancellation_requests.each do |request| %>
            <tr id="request-<%= request.id %>">
              <td><%= request.id %></td>
              <td><%= request.order.company.name %></td>
              <td><%= request.order.company.token %></td>
              <td><%= request.order.plan.name %></td>

              <td>
                <%= link_to t('.approve'), approve_order_cancellation_request_path(request), method: :post %>
                <%= link_to t('.reject'), reject_order_cancellation_request_path(request), method: :post %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

  </section>
