<h2>Bots</h2>
<% if @bots.empty?%>
  <p>Ainda não foi criado nenhum bot!</p>
<% end %>
<div>
  <% @bots.each do |bot|%>
  <ul id="bot-model-<%= bot.id %>">
    <li><%= bot.company.name %></li>
    <li><%= bot.purchase.plan.name %></li>
    <li><%= Bot.human_attribute_name("status.#{bot.status}") %></li>
    <li><%= bot.token %></li>
    <li><%= link_to 'Ver detalhes', bot %></li>
  </ul>
<% end %>
</div>