<h1>
  <%= t('activerecord.models.purchase_cancellation.one') %>
</h1>

<section>
  <dl class="row">
    <dt class="col-sm-3"><%= t('activerecord.attributes.purchase_cancellation.id') %> </dt>
    <dd class="col-sm-9"><%= @purchase_cancellation.id %></dd>

    <dt class="col-sm-3"><%= t('activerecord.models.company.one') %> </dt>
    <dd class="col-sm-9"><%= @purchase_cancellation.purchase.company.name %></dd>

    <dt class="col-sm-3"><%= t('activerecord.attributes.company.token') %> </dt>
    <dd class="col-sm-9"><%= @purchase_cancellation.purchase.company.token %></dd>

    <dt class="col-sm-3"><%= t('activerecord.models.plan.one') %> </dt>
    <dd class="col-sm-9"><%= @purchase_cancellation.purchase.plan.name %></dd>

    <% if @purchase_cancellation.reason %>
      <dt class="col-sm-3"><%= t('activerecord.attributes.purchase_cancellation.reason') %> </dt>
      <dd class="col-sm-9"><%= @purchase_cancellation.reason %></dd>
    <% end %>
  </dl>

  <br/>

  <nav>
    <%= link_to t('.approve'), approve_purchase_cancellation_path(@purchase_cancellation), 
                method: :post, class: 'btn btn-outline-success'%>
    <%= link_to t('.reject'), reject_purchase_cancellation_path(@purchase_cancellation), 
                method: :post, class: 'btn btn-outline-danger'%>
  </nav>
</section>
