<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/headbar' %>

    <main class='container'>

      <%= render partial: 'shared/flashes' %>

      <%= yield %>

      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </main>
  </body>
</html>
