<!DOCTYPE html>
<html>
  <head>
    <title>GestaoInterna</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
    <% end %>
    <%= render partial: 'shared/flashes' %>
    <nav>
      <%= link_to 'Planos', plans_path%>
    </nav>
    <%= yield %>
  </body>
</html>
